<div class="head">
<h1>Are we Adding Burgers or Devouring Burgers?</h1>
</div>

<div id="flexParent">
<div class="newB">
  
<h2>Add a New burger!</h2>

<form class="create-form">
  <div class="form-group">
    <label for="burger" id="burgerLable">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="button" type="submit">Add burger</button>
</form>
<br>



<div class="newB">
    <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <div id="burger" name="burger_name"></div>
    <div class="burgerName">
    {{burger_name}}
    </div>
    <button class="burgers" id="buttonStyle" data-id="{{this.id}}">Devour this Burger!</button>
    <br><br>
    {{/unless}}
    {{/each}}
    </ul>
</div>    
</div>


<div id="devB">
<h2>Devoured Burgers!</h2>
    <ul id="devouredColor">
      {{#each burgers}}
      {{#if devoured}}
      <li class=".create-form" >
        {{burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
</div>    

</div>
  

    



    
   
     