<h1>Burgers</h1>

<h2>Burgers Not Eaten</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="burger">burger?</label><br>
    <input type="radio" name="burgers" value="1" checked> burger<br>
    <input type="radio" name="burgers" value="0"> burger
  </div>

  <button type="submit">burger</button>
</form>
