body{
  background-image: url("../img/larry.jpg");
  background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

.jumbo{
  padding-bottom: 20px;
}

#flexParent{
  display: flex;
}

.newB{
  margin-top: 0%;
}

#devB{
  margin-left: 50%;
}

#button{
  display: inline-block;
  padding: 3px;
  background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
  border-radius: 20px;
  border: turquoise solid 3px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
}

#button:hover{
  border: rgb(94, 240, 215) solid 5px;
    opacity: .8;
}

#buttonStyle{
  display: inline-block;
  background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
  border-radius: 20px;
  border: turquoise solid 3px;
  height: 32px;
  text-decoration: none;
}

#devouredColor{
  color: black;
  background-image: linear-gradient(rgb(172, 207, 226)60%,rgb(252, 216, 249));
  border-radius: 25px;
  border: turquoise solid 2px;
  width: 50%;
  margin-left: 100px;
}

#buttonStyle:hover{
  border: rgb(94, 240, 215) solid 5px;
    opacity: .8;
}

#burgerLable{
  font-weight: bold;
  font-size: 20px;
}

.burgerName{
  font-size: 18px;
}

#addBurgerContainer{
  margin-top: 50px;
  color: turquoise;
  background-color: black;
  border: turquoise solid 3px;
  border-radius: 100px;
  padding: 30px;
  width: 250px;
}

.leftContainer{
  margin-left: 50px;
}

#rightH2{
  margin-left: 100px;
}